@font-face{
    font-family: "리디바탕";
    src: url("./RIDIBatang.otf");
}

@font-face {
    font-family: "레페리R";
    src: url("./LeferiBaseRegular.ttf");
}

@font-face {
    font-family: "레페리B";
    src: url("./LeferiPointBlack.ttf");
}

@font-face {
    font-family: "나눔스퀘어";
    src: url("./NanumPenScript-Regular.ttf");
}

@font-face {
    font-family: "notoB";
    src: url("./NotoSansKR-Bold.otf");
}

@font-face {
    font-family: "notoM";
    src: url("./NotoSansKR-Medium.otf");
}

@font-face {
    font-family: "notoR";
    src: url("./NotoSansKR-Regular.otf");
}